.biography__header {
  display: flex;
  justify-content: space-between;
  background: #68727c;
  background-position: inherit;
}

.biography__header_personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  color: white;
}

.biography__header_personal h1 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}

.biography__header_avatar {
  margin-right: 2rem;
  padding: 0.5rem;
}
